@model PartyInvites.Models.GuestInfo

@{ 
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>RsvpForm</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h4>RSVP</h4></div>
            <div class="panel-body">
                <form class="p-a-1" asp-action="RsvpForm" method="post">
                       <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label asp-for="Name">Your Name:</label>
                        <input class="form-control" asp-for="Name" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Your Email:</label>
                        <input class="form-control" asp-for="Email" /> 
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone">Your Phone:</label>
                        <input class="form-control" asp-for="Phone" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Address">Your Address:</label>
                        <input class="form-control" asp-for="Address" />
                    </div>

                    <div class="form-group">
                        <label>Select a Social Network Interest</label>
                        <select class="form-control" asp-for="SocialNetworkInterest">
                            <option value="">Choose an option</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Google">Google</option>
                            <option value="Linkedin">LinkedIn</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Select a Technical Interest</label>
                        <select class="form-control" asp-for="Interest">
                            <option value="">Choose an option</option>
                            <option value="@PartyInvites.Models.GuestInfo.TechnicalInterest.Iot">Internet of Things</option>
                            <option value="@PartyInvites.Models.GuestInfo.TechnicalInterest.MotionSensors">Motion Sensor Technology</option>
                            <option value="@PartyInvites.Models.GuestInfo.TechnicalInterest.DataAnalytics">Data Analytics Tools</option>
                            <option value="@PartyInvites.Models.GuestInfo.TechnicalInterest.Programming">Computer Programming</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Will You Attend</label>
                        <select class="form-control" asp-for="WillAttend">
                            <option value="">Choose an option</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>

                        </select>
                    </div>

                    @*after you hit submit the form posts back to the RsvpForm action method in the HomeController*@
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Accept Invitation</button>
                        <button class="btn btn-primary" type="submit">Decline Invitation</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
